<h2>Список пользователей:</h2>
<table border="2">
    <tr>
        <th>Имя пользователя</th>
        <th>Электронная почта</th>
        <th>Телефон</th>
    </tr>
    {% for data in users %}
        <tr>
            <td>{{ data.username }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
        </tr>
    {% endfor %}
</table>

<br>
<h2>Список заказов:</h2>
<table>
    <tr>
        <th>Имя пользователя</th>
        <th>Улица</th>
        <th>Дом</th>
        <th>Корпус</th>
        <th>Квартира</th>
        <th>Этаж</th>
        <th>Комментарий</th>
        <th>Потребуется сдача</th>
        <th>Оплата по карте</th>
        <th>Не перезванивать</th>
    </tr>
     {% for  data in orders  %}
        <tr>
            <td>{{ data.user_id }}</td>
            <td>{{ data.street }}</td>
            <td>{{ data.home }}</td>
            <td>{{ data.part }}</td>
            <td>{{ data.appt }}</td>
            <td>{{ data.floor }}</td>
            <td>{{ data.comment }}</td>
            <td>{{ data.payment1 }}</td>
            <td>{{ data.payment2 }}</td>
            <td>{{ data.callback }}</td>
        </tr>
    {% endfor %}
</table>